*{
    margin: 0;
    text-decoration: none !important;
    color: white;
    font-family: 'Roboto Condensed';
}
.navigation {
    color: white;
    text-decoration: none;
    margin: 30px;
}
header{
    padding: 5px 60px;
    background-color: black;
    width: 100%;
}
.mobile{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: fixed;
    bottom: 0px;
    margin: auto;
    padding: 10px;
    width: 100%;
    background-color: black;
    z-index: 100;
}
.main{
    padding: 120px 20%;
    text-align: center;
    background-image: url('../assets/valorant-back.jpg');
    background-repeat: repeat;
    background-color: #080F17;
    background-size: 100%;
}
.help{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: 1px solid #f72133;
    background-color: #f72133;
    border-radius: 100%;
}
#discord:hover{
    border: 1px solid #6549e0;
    border-radius: 50%;
    background-color: #6549e0;
}
#telegram:hover{
    border: 1px solid #2ac5e0;
    border-radius: 50%;
    background-color: #2ac5e0;
}
footer{
    background-color: #080F17;
}
.go{
    text-decoration: none;
    color: white;
}
.mobile-icon{
    height: 20px;
}
.agents{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    margin: 70px 0px 70px 0px;
    justify-content: center;
}
.agent-img{
    width: 100px;
}
.agent{
    margin: 5px;
    border: 1px solid #f53b4a;
}
.agent-full{
    height: 540px;
    width: 350px;
    position: absolute;
    top: 240px;
    right: 20px;
}
.agent-full-active{
    transition: 2s;
    top: 40px;
}
.agent-name{
    position: absolute;
    left: 60px;
    top: 140px;
}
.agent-name-active{
    transition: 2s;
    top: 280px;
}
.name{
    color: #f72133;
    font-size: 100px;
    font-weight: 1000;
}
li{
    list-style-type: none;
}
@media (max-width:1400px) {
    .agents{
        width: 70%;
    }
}
@media (max-width:1100px) {
    .agents{
        width: 90%;
    }
}
@media (max-width:768px) {
    .main{
        padding: 100px 0px 0px 0px;
    }
    footer{
        padding-bottom: 130px;
    }
    .agents{
        width: 100%;
    }
    .name{
        font-size: 50px;
        font-weight: 700;
    }
}
