*{
    margin: 0;
    text-decoration: none;
    color: white;
    font-family: 'Roboto Condensed';
}
.navigation {
    color: white;
    text-decoration: none;
    margin: 30px;
}
header{
    padding: 5px 60px;
    background-color: black;
}
.mobile {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: fixed;
    bottom: 0px;
    margin: auto;
    padding: 10px;
    width: 100%;
    background-color: black;
}
.main{
    padding: 120px 20%;
    text-align: center;
    background-image: url('../assets/valorant-back.jpg');
    background-repeat: repeat;
    background-color: #080F17;
    background-size: 100%;
}
.help{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: 1px solid #f72133;
    background-color: #f72133;
    border-radius: 100%;
}
#discord:hover{
    border: 1px solid #6549e0;
    border-radius: 50%;
    background-color: #6549e0;
}
#telegram:hover{
    border: 1px solid #2ac5e0;
    border-radius: 50%;
    background-color: #2ac5e0;
}
footer{
    background-color: #080F17;
}
.go{
    text-decoration: none;
    color: white;
}
.go:hover{
    text-decoration: underline;
}
.heading{
    margin-bottom: 150px;
}
.name{
    color: #f72133;
    font-size: 100px;
    font-weight: 1000;
}
.info {
    margin-bottom: 200px;
}
li{
    list-style-type: none;
}
@media (max-width:768px) {
    .main{
        padding: 100px 0px 0px 0px;
    }
    footer{
        padding-bottom: 130px;
    }
}